html, body {
      margin: 0%;
      padding: 0%;
      width: 100%;
      height: 100vh;
      background: black;
}

.wrapper {
      width: 412px;
      height: 583px;
}
.cont {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: none;
}